<div class="outer">
  <div class="middle">
    <div class="inner">
     <input type="file" accept=".mp4" (change)="fileChangeEvent($event)"/>
    </div>
    <div class="inner">
     <table>
       <tr>
         <th>
           File Name
         </th>
         <th>
           ScreenShot 1 Link
         </th>

         <th>
          ScreenShot 2 Link
        </th>

        <th>
          ScreenShot 3 Link
        </th>

        <th>
          ScreenShot 4 Link
        </th>
       </tr>
       <tr *ngFor="let row of SCs">
          <td>
            {{row.file.split('.').splice(1).join('.')}}
          </td>
          <td *ngFor="let links of row.fNames">
              <a href="{{envOb+'scs/'+links}}" target="_blank">{{links.split('.').splice(1).join('.')}}</a>
          </td>
       </tr>
     </table>
     </div>
  </div>
</div>